<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>SKunq Chat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="node_modules/normalize.css/normalize.css" />
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="assets/css/sk_styles.css" />
</head>
<body>
	
	<div id="login-screen" class="shade">
		<div class="panel">
			<div class="panel-body text-center">
				<h3>Hello Friend, whats your name?</h3>
				<input type="text" id="login-input"/>
				<button id="login-btn" class="btn btn-info">Login</button>
			</div>
		</div>
	</div>

	<div id="chat-platform">
		<section id="left">
			<div id="user-block"></div>
			<div id="list-block">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item active">
						<a class="nav-link" data-toggle="tab" href="#friends-tab" role="tab">
							<span class="glyphicon glyphicon-user"></span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#chats-tab" role="tab">
							<span class="glyphicon glyphicon-th-list"></span>
						</a>
					</li>
				</ul>
				<div id="list-panes" class="tab-content">
					<div id="friends-pane" class="tab-pane show active fade in"></div>
					<div id="chats-pane" class="tab-pane fade"></div>
				</div>
			</div>
		</section>
		<section id="main" class="tab-content">
			<div id="profile-pane" class="tab-pane"></div>
			<div id="chat-pane" class="tab-pane active"></div>
		</section>
	</div>

	<!-- ============================= -->
	<!-- Libraries -->
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/underscore/underscore-min.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="node_modules/async/dist/async.min.js"></script>
	<script src="node_modules/handlebars/dist/handlebars.min.js"></script>

	<script src="node_modules/backbone/backbone-min.js"></script>
	
	<!-- Scripts -->
	<script src="index.js"></script>
	<script src="scripts/main.js"></script>
	<script src="scripts/router.js"></script>

	<!-- TEMPLATES > TO BE MOVED TO EXTERNALS -->

	<script id="chatTemplate" type="text/html">
		<div class="chat-window">
			<ul class="conversation">
				<li class="user-text">
					<span class="msg-text">Hey BUDDY!</span>
				</li>
				<li class="friend-text">
					<span class="msg-text">Hey, Long time now speak!</span>
				</li>
			</ul>
		</div>
		<div class="message-bar">
			<textarea class="message-input"></textarea>
			<span class="send-btn btn">SEND</span>
		</div>
	</script>

	<script id="userBlockTemplate" type="text/html">
		<span class="user-name"><%= display_name %></span>
		<div class="user-avatar">
			<img src="<%= avatar %>"/>
		</div>
	</script>

	<script id="userProfileTemplate" type="text/html">
		<div class="profile-wrapper">
			<img class="profile-avatar" src="<%= avatar %>" />
			<h3 class="text-center"><%= display_name %><span class="glyphicon glypicon-pencil"></span></h3>
			<button class="btn btn-success">CHAT</button>
		</div>
	</script>

	<!-- END TEMPLATES -->

</body>
</html>