<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>SKunq Chat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="node_modules/normalize.css/normalize.css" />
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="assets/css/sk_styles.css" />
</head>
<body>
	
	<div ng-app="Skunq">
		<div ng-controller="MainController as main">
			<div id="mobile-menu-btn"><i class="fa fa-chevron-circle-right"></i></div>

			<div id="create-chat-modal" class="modal fade">
				<div class="modal-dialog">
					<sk-loader ng-if="main.status.saving"></sk-loader>
					<div class="panel">
						<div class="panel-body text-center no-select">
							<h3>Create New Chat</h3>
							<div class="user-select">
								<ul>
									<li ng-repeat="friend in main._tmp.chat.friends track by $index" ng-click="friend.selected = !friend.selected" class="user-select-item">
										<div class="user-select-avatar">
											<img ng-src="{{ friend.avatar ? friend.avatar : 'assets/images/no_avatar.png'; }}" />
										</div>
										<p class="subtext text-center">{{ friend.name }}</p>
										<i ng-if="friend.selected" class="fa fa-check-circle"></i>
									</li>
								</ul>
								<p ng-if="!main.errors.chat.users" class="text-center text-secondary">Select users to add to group</p>
								<p ng-if="main.errors.chat.users" class="text-center text-secondary text-danger" ng-class="{ 'text-danger': main.errors.chat.users }">Please select at least one user</p>
								<div id="create-chat-name" class="text-center" ng-class="{ 'has-error': main.errors.chat.name }">
									<p>Chat Name</p>
									<input class="form-control" ng-model="main._tmp.chat.name" ng-change="main.errors.chat.name=false;"/>
								</div>
								<button id="create-chat-btn" class="btn btn-primary" ng-click="main.saveChat()"><i class="fa fa-comments-o"></i> Create Chat</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="login-screen" class="shade loading" ng-init="main.buildLoginShade()">
				<div ng-if="main.status.loading" id="sk_loader" class="shade">
					<div class="loader white"></div>
				</div>
				<canvas id="login-bars"></canvas>
				<div id="login-panel" class="panel">
					<div class="panel-body text-center">
						<h3>Welcome to SKunq Chat</h3>
						<div class="input-group" ng-class="{ 'has-error': main.errors.login }">
							<input type="text" placeholder="what's your name?" class="form-control" ng-model="main._tmp.username" id="login-input"/>
							<span class="input-group-btn">
								<button id="login-btn" class="btn btn-info" ng-click="main.errors={};main.login();">Login</button>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div id="chat-platform" class="hide" ng-class="{ shifted: main.shifted }">
				<section id="left" class="no-select">
					<div id="user-block" ng-click="main.showProfile( main.current_user.id )">
						<span class="user-name">{{ main.current_user.name }}</span>
						<div class="user-avatar">
							<img ng-src="{{ main.current_user.avatar ? main.current_user.avatar : 'assets/images/no_avatar.png' }}">
						</div>
					</div>
					<div id="list-block">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item active">
								<a id="chats-tab" class="nav-link" data-toggle="tab" href="" data-target="#chats-nav" role="tab">
									<i class="fa fa-comments-o"></i>
								</a>
							</li>
							<li class="nav-item ">
								<a id="friends-tab" class="nav-link" data-toggle="tab" href="" data-target="#friends-nav" role="tab">
									<i class="fa fa-address-book-o"></i>
								</a>
							</li>
						</ul>
						<div id="list-panes" class="tab-content">
							<div id="chats-nav" class="tab-pane active fade in">
								<ul ng-if="main.active_chats.length" class="chats-list">
									<li ng-repeat="chat in main.active_chats track by $index" 
										class="chat-item list-item" 
										ng-class="{ active: chat.active }"
										ng-click="main.showChat( chat.id );">
										<div class="item-avatar">
											<img ng-src="{{ chat.avatar ? chat.avatar : 'assets/images/no_avatar.png' }}">
										</div>
										<span class="item-name">{{ chat.name }}</span>
										<span ng-if="chat.new_message" class="item-badge"></span>
									</li>
								</ul>
								<div ng-if="!main.active_chats.length" class="empty-list">
									<h1 class="text-center"><i class="fa fa-comments-o"></i></h1>
									<h6 class="text-center">No chats created yet.</h6>
								</div>
							</div>
							<div id="friends-nav" class="tab-pane fade">
								<ul ng-if="main.friends.length" class="friends-list">
									<li ng-repeat="friend in main.friends track by $index" 
										class="friend-item list-item" 
										ng-class="{ active: friend.active }" 
										ng-click="main.showProfile( friend.id );">
										<div class="item-avatar">
											<img ng-src="{{ friend.avatar ? friend.avatar : 'assets/images/no_avatar.png' }}">
										</div>
										<span class="item-name">{{ friend.name }}</span>
									</li>
								</ul>
							</div>
						</div>
						<div id="new-chat-btn" class="btn" ng-click="main.createTempChat()">
							<i class="fa fa-plus-square-o"></i> New Chat
						</div>
					</div>
				</section>
				<section id="main" class="tab-content">
					<ui-view></ui-view>
				</section>
			</div>
		</div>
		</div>
	</div>


	<script src="dist/libraries.js"></script>
	<script src="dist/app.js"></script>

</body>
</html>