<div id="login-screen" class="shade {{ whiteLoader ? 'white' : '' }}" ng-class="{ loading: loading }">
	<div id="sk_loader" class="shade">
		<div class="loader white"></div>
	</div>
	<canvas id="login-bars"></canvas>
	<div id="login-panel" class="panel">
		<div class="panel-body text-center">
			<h3>Welcome to SKunq Chat</h3>
			<div class="input-group">
				<input type="text" placeholder="what's your name?" class="form-control" ng-model="username" id="login-input"/>
				<span class="input-group-btn">
					<button id="login-btn" class="btn btn-info" ng-click="completeFunction()">Login</button>
				</span>
			</div>
		</div>
	</div>
</div>