/* GLOBAL ELEMENTS */

ul {
	list-style: none;
	padding: 0;
}

.shade {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
}


/* MAIN LAYOUT ELEMENTS */

#chat-platform {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #FFFFFF;
}

#left {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 225px;
	overflow: auto;
	z-index: 50;
	background: #EAFFF7;
}

#main {
	position: absolute;
	top: 0;
	left: 225px;
	right: 0;
	bottom: 0;
	overflow: auto;
}


/* LOGIN PANEL */

#login-screen {
	background: #62D732;
}

#login-screen .panel {
	position: absolute;
	width: 100%;
	max-width: 500px;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}

/* LEFT COLUMN */

#profile-block {
	height: 75px;
	width: 100%;
	border-bottom: 1px solid #E4F9F2;
}

#list-block {
	width: 100%;
	position: absolute;
	top: 76px;
	left: 0;
	bottom: 0;
}

.friends-list {
	margin: 20px 0;
}

.friends-list li {
	cursor: pointer;
	display: block;
	font-size: 16px;
	padding: 15px 20px;
}
.friends-list li:hover {
	background: #9ACFF9;
}

/* MAIN VIEW */

.chat-window {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: auto;
	width: 100%;
	padding-bottom: 75px;
	display: flex;
}

.conversation {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-content: flex-end;
	flex-wrap: wrap;
	align-items: flex-end;
}
.conversation li {
	width: 100%;
	height: 50px;
	padding: 0 10%;
}
.user-text {
	text-align: left;
}
.friend-text {
	text-align: right;
}

.msg-text {
	width: 80%;
	max-width: 300px;
	border-radius: 10px;
	font-size: 18px;
	line-height: 20px;
	padding: 15px;
}

.user-text .msg-text {
	background-color: #f8f8f8;
}
.friend-text .msg-text {
	background-color: #9DFCD5;
}

.message-bar {
	position: absolute;
	bottom: 25px;
	width: 90%;
	left: 5%;
	height: 54px;
}
.message-input {
	resize: none;
	display: inline-block;
	float: left;
	height: 54px;
	width: calc(100% - 80px);
	padding: 0 10% 0 20px;
	margin: 0 auto;
	border: 2px solid #666;
	border-radius: 5px 0 0 5px;
	outline: none;
}
.send-btn {
	display: inline-block;
	float: left;
	height: 54px;
	width: 80px;
	line-height: 54px;
	font-size: 16px;
	text-align: center;
	border-radius: 0 5px 5px 0;
	border: 2px solid #666;
	border-left: none;
	padding: 0 10px;
}
