/* SHARED ELEMENTS */

ul {
	list-style: none;
	padding: 0;
}

.shade {
	z-index: 100;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
}


/* MAIN LAYOUT ELEMENTS */

#chat-platform {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #FFFFFF;
}

#left {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 225px;
	overflow: auto;
	z-index: 50;
	background: #EAFFF7;
}

#main {
	position: absolute;
	top: 0;
	left: 225px;
	right: 0;
	bottom: 0;
	overflow: hidden;
}


/* LOGIN PANEL */

#login-screen {
	position: fixed;
	background: #62D732;
}

#login-screen .panel {
	position: absolute;
	width: 100%;
	max-width: 500px;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}

/* LEFT COLUMN */

#user-block {
	height: 54px;
	width: 100%;
	border-bottom: 1px solid #E4F9F2;
}

.user-name {
	float: left;
	display: inline-block;
	height: 54px;
	width: 155px;
	padding: 0 0 0 15px;
	line-height: 54px;
	font-size: 18px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.user-avatar {
	display: inline-block;
	float: left;
	width: 40px;
	height: 40px;
	margin: 7px 10px;
	border-radius: 50%;
	background-color: #fff;
	overflow: hidden;
	vertical-align: top;
}
.user-avatar img {
	width: 100%;
	height: auto;
}

#list-block {
	width: 100%;
	position: absolute;
	top: 55px;
	left: 0;
	bottom: 0;
}

.friends-list {
	margin: 20px 0;
}

.friends-list li {
	cursor: pointer;
	display: block;
	font-size: 16px;
	padding: 15px 20px;
}
.friends-list li:hover {
	background: #9ACFF9;
}

/* MAIN VIEW */
#profile-pane,
#chat-pane {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: auto;
}

#profile-pane {
	background: purple;
}

#chat-pane {
	background: blue;
}

.chat-window {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: auto;
	width: 100%;
	padding-bottom: 75px;
	display: flex;
}

.conversation {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-content: flex-end;
	flex-wrap: wrap;
	align-items: flex-end;
}
.conversation li {
	width: 100%;
	height: 50px;
	padding: 0 10%;
}
.user-text {
	text-align: left;
}
.friend-text {
	text-align: right;
}

.msg-text {
	width: 80%;
	max-width: 300px;
	border-radius: 10px;
	font-size: 18px;
	line-height: 20px;
	padding: 15px;
}

.user-text .msg-text {
	background-color: #f8f8f8;
}
.friend-text .msg-text {
	background-color: #9DFCD5;
}

.message-bar {
	position: absolute;
	bottom: 25px;
	width: 90%;
	left: 5%;
	height: 54px;
}
.message-input {
	resize: none;
	display: inline-block;
	float: left;
	height: 54px;
	width: calc(100% - 80px);
	padding: 0 10% 0 20px;
	margin: 0 auto;
	border: 2px solid #666;
	border-radius: 5px 0 0 5px;
	outline: none;
}
.send-btn {
	display: inline-block;
	float: left;
	height: 54px;
	width: 80px;
	line-height: 54px;
	font-size: 16px;
	text-align: center;
	border-radius: 0 5px 5px 0;
	border: 2px solid #666;
	border-left: none;
	padding: 0 10px;
}








/* Loader */

.sk_loader {
    position: absolute;
}
.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
