<div id="chat-pane" ng-controller="ChatController as self" class="tab-pane active">
	<sk-loader ng-if="self.status.loading"></sk-loader>
	<div class="chat-window">
		<ul class="conversation">
			<li ng-repeat="message in self.chat.messages track by $index" ng-class="{ 'user-text': message.senderId == self.current_user.id  }">
				<div class="item-avatar">
					<img ng-src="{{ self.users_info[ message.senderId ].avatar ? self.users_info[ message.senderId ].avatar : 'assets/images/no_avatar.png'; }}"/>
				</div>
				<p class="msg-text">{{ message.message }}</p>
				<p ng-if="message.timestamp" class="subtext text-secondary">Sent at {{ message.timestamp }}</p>
			</li>
		</ul>
	</div>
	<div class="message-bar">
		<input class="message-input" ng-model="self._tmp.message"></input>
		<span class="send-btn btn" ng-class="{ disabled: !self._tmp.message }" ng-click="self.sendMessage();">Send</span>
	</div>
</div>