<div id="profile-pane" ng-controller="ProfileController as self" class="tab-pane">
	<sk-loader ng-if="self.status.loading"></sk-loader>
	<div class="profile-window">
		<div class="profile-avatar">
			<img ng-src="{{ self.profile.avatar ? self.profile.avatar : 'assets/images/no_avatar.png' ; }}"/>
		</div>
		<h2 class="text-center">{{ self.profile.name }}</h2>
		<button ng-if="self.profile.id != current_user.id" id="profile-new-chat-btn" class="profile-btn btn btn-primary"><i class="fa fa-comments-o"></i> Chat with me</button>
		<button ng-if="self.profile.id == current_user.id" id="profile-logout-btn" class="profile-btn btn btn-default" ng-click="logout()"><i class="fa fa-hand-peace-o"></i> Logout</button>
	</div>
</div>